@import url("reset.css");
@import url("scrollbar.css");
@import url("fireworks.css");
@import url("./../fonts/inconsolata/inconsolata.css");
@import url("./../fonts/librebarcode128/librebarcode128.css");

:root {
  --inconsolata: "Inconsolata";
  --barcode: "Libre Barcode 128";
  --gray: oklch(16.84% 0 0);
  --scrollbar-background: oklch(22.64% 0 0);
  --white-font: oklch(100% 0 0);
  --horizontal-p: 3rem;
  --vertical-p: 2rem;
  font-family: var(--inconsolata);
}
.hidden {
  visibility: collapse !important;
}
body {
  padding: 2rem 0;
}

body {
  background-color: var(--gray);
  color: var(--white-font);
  font-size: 2rem;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--horizontal-p);
}

.codebar-title {
  font-family: var(--barcode);
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.button--install {
  padding: 0.5rem 1rem;
  background: none;
  color: var(--white-font);
  border: 1px solid var(--white-font);
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 12px var(--horizontal-p);
  scroll-timeline: --scrollBar y;
  scroll-timeline: --scrollBar vertical;
  position: relative;
}
.text {
  width: 100%;
  font-size: 1rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  line-height: 2rem;
  padding: 2rem 0;
  position: relative;
}
.text p {
  width: 100%;
}

.text p:nth-child(odd) {
  text-align: left;
}

.text p:nth-child(even) {
  text-align: right;
}
.text > p:first-of-type {
  text-align: center;
}
.text > p:last-of-type {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
a {
  text-align: center;
  color: var(--white-font);
  text-decoration: underline;
}
a:hover {
  color: rgb(71, 39, 213);
}
.flower {
  animation-name: flowerChange;
  animation-timeline: --scrollBar;
  animation-duration: 1ms;
  transition: ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  position: absolute;
  top: 20%;
  left: -5%;
  z-index: -1;
}
.flower div {
  width: 75px;
  height: 75px;
  border: 8px solid;
  border-radius: 20px;
}
.circle {
  animation-timeline: --scrollBar;
  animation-duration: 1ms;
  transition: ease-in-out;
  position: absolute;
  height: 75px;
  width: 75px;
  border: 8px solid;
  z-index: -1;
  border-radius: 100px;
}
.first {
  animation-name: circleChange1;
  top: 50%;
  right: 0;
}
.second {
  animation-name: circleChange2;
  top: 65%;
  left: -50%;
}
.svg {
  position: absolute;
  height: 150px;
  z-index: -1;
  top: 85%;
}
.svg path {
  animation-timeline: --scrollBar;
  animation-name: svgOffset;
  animation-duration: 1ms;
  transition: ease-in-out;
  stroke-width: 8px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}
.colorized-code {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
code {
  color: white;
}
pre {
  white-space: pre-wrap;
}
.colorized-code p {
  text-align: left;
}

.tag {
  color: #569cd6; /* Blue color for tags (HTML tag color in VSC) */
}

.property {
  color: #9cdcfe; /* Light blue color for properties (Attribute name color in VSC) */
}

.value {
  color: #ce9178; /* Orange color for values (Attribute value color in VSC) */
}

.rule {
  color: #c586c0; /* Purple color for rule (e.g., @keyframes) (Keyword color in VSC) */
}

.percent {
  color: #c586c0; /* Purple color for percentages in keyframes (Keyword color in VSC) */
}

@keyframes svgOffset {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes circleChange2 {
  0% {
    height: 75px;
    width: 75px;
  }
  60% {
    height: 75px;
    width: 75px;
  }
  75% {
    height: 75px;
    width: 150%;
  }
  100% {
    height: 75px;
    width: 150%;
  }
}
@keyframes circleChange1 {
  0% {
    height: 200px;
    width: 200px;
  }
  50% {
    height: 200px;
    width: 200px;
  }
  55% {
    height: 75px;
    width: 75px;
  }
  60% {
    height: 75px;
    width: 150%;
  }
  100% {
    height: 75px;
    width: 150%;
  }
}
@keyframes flowerChange {
  0% {
    transform: rotate(50deg);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  10% {
    transform: rotate(50deg);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  26% {
    grid-column-gap: 0;
  }
  27% {
    grid-row-gap: 0;
    transform: rotate(130deg);
  }
  100% {
    grid-row-gap: 0;
    transform: rotate(130deg);
  }
}
