.element-oklch {
  color: var(--scrollbar-background);
}
.info-oklch {
  font-size: 1rem;
  color: var(--white-font);
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.button--toggle {
  padding: 0.5rem 1rem;
  background: none;
  color: var(--white-font);
  border: 1px solid var(--white-font);
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
}
.scrollbar-wrapper {
  position: absolute;
  right: 5%;
  transition: all 0.3s ease-in-out;
  top: 0;
}
.scrollbar-wrapper.inactive {
  right: -3%;
}
.scrollbar {
  background-color: var(--scrollbar-background);
  height: 80%;
  width: 8px;
  border-radius: 20px;
  position: fixed;
}
.scrollbar__visualizer {
  border-radius: 20px;
  animation-name: growAndColorChange;
  animation-timeline: --scrollBar;
  animation-duration: 1ms;
  transition: ease-in-out;
  background-color: var(--white-font);
}

@keyframes growAndColorChange {
  0% {
    height: 0;
    background-color: oklch(62.35% 0.276 29.2338851923426);
  }
  10% {
    background-color: oklch(88.24% 0.197 97.41);
  }
  20% {
    background-color: oklch(75.29% 0.332 145.06);
  }
  30% {
    background-color: oklch(75.29% 0.332 214.155);
  }
  40% {
    background-color: oklch(75.29% 0.332 339.75);
  }
  50% {
    background-color: oklch(62.35% 0.276 29.2338851923426);
  }
  60% {
    background-color: oklch(88.24% 0.197 97.41);
  }
  70% {
    background-color: oklch(75.29% 0.332 145.06);
  }
  80% {
    background-color: oklch(75.29% 0.332 214.155);
  }
  100% {
    height: 100%;
    background-color: oklch(75.29% 0.332 300.75);
  }
}
